{% extends 'blog/base.html' %}
{% load static %}
{% block title %}ABOUT{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <div class="container">
                <h2 class="text-center text-dark">ABOUT US</h2>
                <p>Hello, tech lovers! I'm Hitansh, a tech enthusiast with a passion for the latest gadgets, software, and innovations. This blog is dedicated to bringing you reviews, tutorials, and insights on everything tech. Whether you're a seasoned techie or just getting started, my goal is to provide you with valuable information and a fresh perspective on the ever-evolving tech world. Stay tuned for the latest updates and join the conversation!</p>
            </div>
        </div>
    </div>
{% endblock content %}